<h1 id="page-title">Contact</h1>
<div class="skinny-wrapper wrapper-padding" id="contact-wrapper">

    <%= form_for @contact do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name, placeholder: "Enter Name", required: true %>

        <br>

        <%= f.label :email %><br>
        <%= f.email_field :email, placeholder: "Please Provide an Email for a reply.", required: true %>

        <br>

        <%= f.label :message %><br>
        <%= f.text_area :message, placeholder: "Nice to meet you!", as: :text %>

        <br>

        <div class="hidden">
            <%= f.label :nickname %><br>
            <%= text_field :nickname, hint: 'leave this field blank' %>
        </div>

        <%= f.submit 'Say Hello', class: 'button' %>
    <% end %>
</div>
